.App {
  text-align: center;
  /* height: 99vh; */
  display: flex;
  flex-wrap: wrap;
  height:100vh;
  max-height: 100vh;
}

#title{
  font-family: johnny fever, Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 100px;
  background: -webkit-linear-gradient(to bottom, #7D0076);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  height: 10vh;
  color: rgb(255,161,61) ;
}