.App {
  text-align: center;
  /* height: 99vh; */
  display: flex;
  flex-wrap: wrap;
  height:100vh;
  max-height: 100vh;
}

/* #title h1{
  font-family: johnny fever, Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 100px;
  margin: auto;
  height: 10vh;
  color: rgb(255,161,61) ;
} */