body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: 'Pixel';
  src: url('./fonts/Pixel-LCD-7.woff') format('woff');
}